
<div class="card mat-card" id="card3" *ngFor="let educacion of educacion">
    <div id="seccionPrincipal">
        <div id="titulo">
            <h1>Educación</h1>
        </div>
        <div class="text-center">
            <button 
            type="button" 
            class="btn btn-success" 
            (click)="onOpenModal('add')"id="nuevo" >
        <a class="nav-link" style="color:blue" >
        añadir educación <span class="sr-only">(current)</span>
        </a>
        </button>
        </div>
       </div>
    <ul>
        <div class="col-text-center" id="botones">
            <a 
            (click)="onOpenModal('edit', educacion)"
            class="btn btn-primary tooltips"
            data-placement="top"
            data-tooggle="tooltip"
            data-original-title="Edit"
            >
            <i class="fa fa-pen"></i>
        </a>
        <a 
        (click)="onOpenModal('delete', educacion)"
        class="btn btn-secondary tooltips"
            data-placement="top"
            data-tooggle="tooltip"
            data-original-title="Delete"
            ><i class="fa fa-times"></i>
        </a>
        </div>
        <li><h2>Secundario Completo(2013/2014)</h2>
          <h3>Intitución C.E.N.S 452</h3>
          <p>Orientación en Ciencias Sociales especializado en Gestión de Políticas Públicas</p>

      </li>
      <div class="col-text-center" id="botones">
        <a 
        (click)="onOpenModal('edit', educacion)"
        class="btn btn-primary tooltips"
        data-placement="top"
        data-tooggle="tooltip"
        data-original-title="Edit"
        >
        <i class="fa fa-pen"></i>
    </a>
    <a 
    (click)="onOpenModal('delete', educacion)"
    class="btn btn-secondary tooltips"
        data-placement="top"
        data-tooggle="tooltip"
        data-original-title="Delete"
        ><i class="fa fa-times"></i>
    </a>
    </div>
      <li>
          <H2>{{educacion.tituloEdu}}({{educacion.fechaIni}}- {{educacion.fechaTer}})</H2>
          
          <P>Técnicas de Persuación, Estrategias de Contención y Comunicación Internas y Externas</P>
      </li>
  </ul>

  <div class="modal fade" 
  id="addEducacionModal" 
  tabindex="-1"
   role="dialog" 
  aria-labelledby="addEducacionModalLabel"
  aria-hidden="true"
  >

<div
class="modal-dialog" 
role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addEducacionModalLabel">Añadir Educacion</h5>
        <button 
        type="button" 
        class="close"
        data-dismiss="modal"
        aria-label="close"
        >
        <span aria-hidden="true">&times;</span>
    </button>
        </div>
<div class="modal-body">
    <form #addForm="ngForm" (ngSubmit)="onAddEducacion(addForm)">
       <div class="form-group">
<label for="tituloEdu"> Titulo </label>
<input type="text"
ngModel
name="tituloEdu"
class="form-control"
id="tituloEdu"
placeholder="Titulo"
required/>
</div>
       
<div class="form-group">
        <label for="fechaIni"> Fecha de Inicio </label>
        <input type="text"
        ngModel
        name="fechaIni"
        class="form-control"
        id="fechaIni"
        placeholder="Fecha de Inicio"
        required
/>
        
</div>
<div class="form-group">
    <label for="fechaTer"> Fecha de Terminación</label>
    <input type="text"
    ngModel
    name="fechaTer"
    class="form-control"
    id="fechaTer"
    placeholder="Titulo"
    required
    
    />              
</div>
<div class="form-group">
 <label for="descrEdu"> Descripción </label>
 <input type="text"
 ngModel
 name="descrEdu"
 class="form-control"
 id="descrEdu"
 placeholder="descripcion"
 required
/>                 
 </div>
 
 <div class="form-group">
    <label for="imageEdu"> Imagen</label>
    <input type="text"
    ngModel
    name="imageEdu"
    class="form-control"
    id="imageEdu"
    placeholder="Añadir Imagen"
    required
    
/>
    
</div>
<div class="modal-footer"> 
<button
type="button"
id="add-Educacion-form"
class="btn btn-secundary"
data-dismiss="modal"
>
cerrar
</button>

<button
[disabled]="addForm.invalid"
type="submit"
class="btn btn-primary"
>
Añadir Cambios
</button>
</div>
    </form>
</div>
</div>
</div>
</div>
</div>
