<div class="card mat-card" id="card3" *ngFor="let educacion of educacion">
    <h1>Educación</h1>
    <ul>
        <li><h2>Secundario Completo(2013/2014)</h2>
          <h3>Intitución C.E.N.S 452</h3>
          <p>Orientación en Ciencias Sociales especializado en Gestión de Políticas Públicas</p>

      </li>
      <li>
          <H2>{{educacion.tituloEdu}}({{educacion.fechaIni}}- {{educacion.fechaTer}})</H2>
          
          <P>Técnicas de Persuación, Estrategias de Contención y Comunicación Internas y Externas</P>
      </li>
  </ul>
</div>
